package com.photon.{{moduleIdLower}}.api;

/**
 * Operation: {{operationId}}
 * HTTP: {{httpMethod}} {{path}}
 * Description: {{description}}
 */
public class {{operationId}} {
    // request schema: {{#requestSchema}}{{requestSchema}}{{/requestSchema}}{{^requestSchema}}none{{/requestSchema}}
    // response schema: {{#responseSchema}}{{responseSchema}}{{/responseSchema}}{{^responseSchema}}void{{/responseSchema}}
}